- assistance = notification.assistance
- assistance_helper = notification.assistance_helper
- user = assistance_helper.user
.notification
  .icon
    %a{ :href => user_path(user.id), :title => user.login }
      = image_tag user.avatar_url(:c), :size => '50x50'          
  .info
    .detail
      .notify_type
        - unless notification.readed?
          %span.new_notice 新！
        %a{ :href => user_path(user.id) }= user.login 
        表示对你的求助
        %a{ :href => assistance_path(assistance.id) }
          = assistance.content
        很有意向
      .body
        = assistance_helper.content
    .bottom_tools
      %abbr.timeago{ :title => notification.created_at }