- content_for :header_js do
  = javascript_include_tag 'sign'
.container
  .recommands
    .aboutzl
      %p
        %span 助乐
        是一个基于互相帮助的小微社区，你可以在这里尝试把你的愿望，困难或者想法说出来让大家一起帮你，或者你也可以使用你的能力和爱心，
        去帮助需要帮助的人，同时获得快乐。
    - 3.times do
      .recommand
        .avatar
          = image_tag 'demo.jpg', :size => '80x80'
          / .addr
          /   广东 广州
        .seekhelp
          
          %p.detail
            %a.user_name 李国强w-123: 
            找一个人帮我看狗狗, 谁愿意呀！找一个人帮我看狗狗, 谁愿意呀！找一个人帮我看狗狗,愿意呀！找一个人帮我看愿意呀！找一个人帮我看,
            愿意呀！找一个人帮我看愿意呀！找一个人帮我看个人帮我看狗狗
        .tools
          / %a 已有 65 人 打算帮她
          %a.button 去帮她
  .login-form
    = form_tag sign_in_path, :id => 'loginForm' do
      %p.register
        / %a.big_button 立即注册
        有 26 个人正在寻求帮助，快去帮帮TA吧！
      .login
        %p.error
          = flash[:error]
        %p
          %input.text.email{ :type => 'text', :name => 'email', :value => '输入你的注册邮箱', :init_text => '输入你的注册邮箱' }
        %p
          %input.text.password_init{ :type => 'text', :value => '输入你的登录密码' }
          %input.text.password{ :type => 'password', :style => 'display:none;', :name => 'password' }
        %p
          %a.button.submit{ :href => 'javascript:;' } 登录
          %a.button.green{ :href => sign_up_path } 注册
        %p
          %a.forget_password{ :href => '#' } 忘记密码？
