- content_for :header_css do
  = stylesheet_link_tag 'square'

- content_for :header_js do
  = javascript_include_tag 'square'  

.container
  .square_waterfall.clearfix
    .result_col.col_0
    .result_col.col_1
    .result_col.col_2
    .result_col.col_3
              
                