.edit_avatar_form_panel
  = render 'shared/flash_notice'
  .current_avatar
    .div-name
      当前头像
    .avatar_img
      = image_tag current_user.avatar.url(:l), :size => '180x180'
  .upload_avatar
    = form_tag setting_avatar_path, :multipart => true, :id => 'settingForm' do
      .div-name
        上传新头像
      .upload
        %input{ :type => 'file', :name => 'avatar' }
        .buttons
          %a.button.submit{ :href => 'javascript:;' } 上传头像