.edit_info_form_panel
  = render 'shared/flash_notice'
  = form_tag '', :id => 'settingForm' do
    .blank
      %span.attr 当前密码：
      %input.text{ :type => 'password', :name => 'current_password' }
      %span.message 输入你当前的密码
    .blank
      %span.attr 新密码：
      %input.text{ :type => 'password', :name => 'new_password' }
      %span.message 输入新密码
    .blank
      %span.attr 确认新密码：
      %input.text{ :type => 'password', :name => 'new_password_confirmation' }
      %span.message 确认输入的新密码

    .buttons
      %a.button.submit{ :href => 'javascript:;' } 确认修改