@import 'base';

.square_waterfall {

  .result_col {
    float: left;
    margin-right: 10px;
    width: 230px;

    .col {
      @include background(0px, #FFFFFF);
      
      width: 230px;
      height: auto;
      margin-bottom: 13px;
      
      -moz-box-shadow: 10px 10px 5px #888;
      -webkit-box-shadow: 10px 10px 5px #888;
      box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);

      .pd { 
        padding: 7px 7px;
        p { 
          line-height: 16px; margin-top: 5px; @include font(12px, #76838B);
        }
        
        .persons {text-align: right; margin-top: 3px; }
        .persons a { @include font(12px); }
        .picture { 
          text-align: center;
          img { border: 2px solid #000; }
        } 
      }

      .user {
        @include zoom;
        @include background(0px, #F3F3F3);
        padding: 5px 3px 0px 3px;
        border-bottom: 1px solid #E8E7E3;
        border-top: 1px solid #E8E7E3;        
        .avatar {
          float: left;
          a { float: left; }
        }
        .remarks { 
          float: left;
          margin-left: 10px;
          @include font(12px);
          a { 
            @include font(12px, #76838B);
            text-decoration: underline;
          }
        }
      }
    }

  }
}